.MessageBox
    width: 80%
    float: left
    text-align: center
    &.dark
        background: linear-gradient(to right, var(--darkMain), var(--darkAccent))
        color: #FFF
    textarea
        display: inline-block
        width: 90%
        height: 30px
        font-size: 22px
        border: 0
        outline: 0
        resize: none
        padding: 10px
        background-color: transparent
        &.dark
            color: #FFF
            &::placeholder
                color: #FFF

.SendButton
    cursor: pointer
    justify-content: center
    width: 20%
    float: left
    height: 50px
    color: #FFF
    display: flex
    align-items: center
    svg
        font-size: 30px
    &.light
        background: linear-gradient(to right, var(--lightMain), var(--lightAccent), var(--lightEnd))
        &:hover
            color: #CCC
            svg 
                font-size: 35px
    &.dark
        background: linear-gradient(to right, var(--darkMain), var(--darkAccent))
        &:hover
            color: #CCC
            svg 
                font-size: 35px