html, :root
  --lightMain: #00d2ff
  --lightAccent: #928DAB
  --darkMain: #bdc3c7
  --darkAccent: #2c3e50

.Header
    padding: 10px 30px
    position: relative
  
.Header.light 
  background: linear-gradient(to right, var(--lightMain), var(--lightAccent));

.Header.dark 
  background: linear-gradient(to right, var(--darkMain), var(--darkAccent));

.Header::after
  content: ""
  position: absolute
  z-index: -1
  bottom: -5px
  height: 5px
  width: 97%
  opacity: 0.5
  border-radius: 10px
  left: 10px
  background: inherit
  filter: blur(6px)

.Header a
    display: inline-block
    padding: 15px 10px
    color: #fff;
    