html, :root
  --lightMain: #7F7FD5
  --lightAccent: #86A8E7
  --lightEnd: #91EAE4
  --darkMain: #bdc3c7
  --darkAccent: #2c3e50

.Theme
  width: 50%
  margin: 50px auto
  border: solid 1px var(--appBorder)