html, :root
  --lightMain: #00d2ff
  --lightAccent: #928DAB
  --darkMain: #bdc3c7
  --darkAccent: #2c3e50

.light
  
.light .Header
  background: linear-gradient(to right, var(--lightMain), var(--lightAccent));

.dark

.dark .Header
  background: linear-gradient(to right, var(--darkMain), var(--darkAccent));