.AvatarContainer
    &.left
        float: left
        margin-right: 10px
    &.right
        float: right
        margin-left: 10px
.Bubble
    display: inline-block
    max-width: 70%
    min-width: 300px
    margin-top: 8px
    margin-bottom: 10px
    padding: 10px
    &.left
        text-align: left
        float: left
        background: linear-gradient(to right, var(--lightAccent), var(--lightMain));
        color: #FFF
        border-top-right-radius: 20px
        border-bottom-right-radius: 20px
        border-bottom-left-radius: 20px
        .message
            margin: 5px 0
            color: #FFF
            font-size: 22px
        .username
            font-style: italic
            font-size: 13px
            color: #f2f2f2
        .time
            text-align: right
            font-style: italic
            font-size: 13px
            color: #f2f2f2
    &.right
        text-align: right
        float: right
        background: linear-gradient(to right, var(--lightEnd), var(--lightAccent));
        color: #FFF
        border-top-left-radius: 20px
        border-bottom-left-radius: 20px
        border-bottom-right-radius: 20px
        .message
            margin: 5px 0
            color: #FFF
            font-size: 22px
        .username
            text-align: right
            font-style: italic
            font-size: 13px
            color: #666
        .time
            text-align: left
            font-style: italic
            font-size: 13px
            color: #666
.clearFix
    overflow: auto

.clearFix::after
  content: ""
  clear: both
  display: table

@media only screen and (max-width: 450px)
    .AvatarContainer
        &.left
            margin-right: 10px
        &.right
            float: right
            margin-left: 10px
    